<div class="main-estilo">
    <div class="title">
        <h2>Flow: toque o que você sente</h2>
        <select name="" id="">
            <option value="">Moods</option>
            <option value="">Gêneros</option>
        </select>
    </div>
    <div class="container-items">
        <div class="item-principal">
            <div class="item flow">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <h1>FLOW</h1>
            </div>
            <span>Flow</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="gorro.png" alt="">
            </div>
            <span>Natal</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="lançamentos.png" alt="">
            </div>
            <span>Lançamento</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="treino.png" alt="">
            </div>
            <span>Treino</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="festa.png" alt="">
            </div>
            <span>Festa</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="relax.png" alt="">
            </div>
            <span>Relax</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="nabad.png" alt="">
            </div>
            <span>Na Bad</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="love.png" alt="">
            </div>
            <span>Love</span>
        </div>
        <div class="item-principal">
            <div class="item">
                <svg viewBox="0 0 24 24" focusable="false" class="play" data-testid="PlayFilledIcon">
                    <path
                        d="M16.04 9.009a93.31 93.31 0 0 0-5.18-2.992 85.246 85.246 0 0 0-3.861-1.945.756.756 0 0 0-1.075.62 85.122 85.122 0 0 0-.246 4.317 92.993 92.993 0 0 0 0 5.982c.048 1.492.131 2.935.246 4.316.043.524.6.845 1.074.62a85.293 85.293 0 0 0 3.861-1.944 93.24 93.24 0 0 0 5.181-2.992 85.086 85.086 0 0 0 3.652-2.396.725.725 0 0 0 0-1.19A84.99 84.99 0 0 0 16.04 9.01Z">
                    </path>
                </svg>
                <img src="foco.png" alt="">
            </div>
            <span>Foco</span>
        </div>
    </div>

    <div class="list-container">
        <div class="item-list">
            <img src="list1.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
        <div class="item-list">
            <img src="list2.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
        <div class="item-list">
            <img src="list3.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
        <div class="item-list">
            <img src="list4.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
    </div>

    <h1 class="title-essencial">Essenciais: Álbuns dos anos 80</h1>

    <div class="list-container">
        <div class="item-list">
            <img src="list5.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
        <div class="item-list">
            <img src="list6.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
        <div class="item-list">
            <img src="list7.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
        <div class="item-list">
            <img src="list8.jpg" alt="">
            <span class="title-list-item">Take Me to the Beach</span>
            <span class="small">por Imagine Dragons</span>
            <span class="small">Lançado em 16/12/2024</span>
        </div>
    </div>

</div>